<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbarz">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbarz">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="tasks">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tasks/create">Create New</a>
        </li>
      </ul>
      <div *ngIf="!hasRoute('create')&&!hasRoute('edit')">
      <form class="d-flex">
        <input class="form-control me-2" #searchInput type="text" placeholder="Search">
        <select class="form-control" #status>
            <option value="">Select Staus</option>
            <option *ngFor="let status of statusList" [value]="status">
                {{status}}
            </option>
        </select>
        <button class="btn btn-primary" type="button" (click)="onSearch(searchInput.value, status.value)">Search</button>
      </form>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>